* {
    box-sizing: border-box;
}

body {
    background-color: #f2e8cf;
}



nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover{
    background-color: #f2e8cf;
    color: white;
}

footer {
    background-color: #386641;
    color: #444;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.headl {
    font-size: 80px;
    color: #386641;
    text-align: center;
    text-shadow: 10px 10px 15px;
}

.card {
    border-radius: 50px;
    margin: 0px 20px;
    padding: 50px;
    background-image: url(image/red.png);
    background-size: cover;
}

.head {
    border-radius: 50px;
    margin: 0px 20px;
    padding: 9px;
    background-image: url(image/red.png);
    background-size: cover;
}

.card2 {
    width: 150%;
    border-radius: 50px;
    margin: 50px 20px;
    padding: 50px;
    background-image: url(image/red.png);
    background-size: cover;
}

.esimage {
    width: 456px; /* 设置图像宽度为 100 像素 */
    height: 350px; /* 自动计算图像高度，保持比例 */
    margin-right: 30px; /* 设置图片右侧间隔为 20 像素*/ 
    text-align: center;
    border-radius: 10%;
}

article {
    float: left;
    width: 65%;
    color: aliceblue;
}

aside {
    float: right;
    width: 32%;
    height: 500px;
    text-align: center;
}

.clearfix {
    clear: both;
}

@media screen and (max-width:800px){
    
    article, 
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    img {
        max-width: 100%;
        height: 90%;
    }
}